@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        max-height: none;   /* IMPORTANT */
        width: 100%;
        padding: 10px;
        background: rgba(57, 57, 57, 1); /* keep background */
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .search-section {
       margin-left: 0;      /* reset */
        align-self: flex-end;
    }

    .container {
        flex-direction: column; /* stack items vertically */
        align-items: center; /* center items horizontally */
    }

    .banner-button {
        width: 150px;
        height: 40px;
        transform: translateX(-125%);
    }

    .banner-button-text{
        top: 10px;
        left: 10px;
    }
}